body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:linear-gradient(135deg,#FFF8E7,#FFE4B5);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:90%;
max-width:420px;
background:white;
padding:30px;
border-radius:25px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
text-align:center;
}

.logo{
font-size:60px;
}

h1{
margin:10px 0;
color:#E67E22;
}

h2{
margin:5px 0 20px;
color:#8B4513;
}

.tagline{
color:#666;
margin-bottom:25px;
}

input,select{
width:100%;
padding:15px;
margin:10px 0;
font-size:17px;
border-radius:12px;
border:2px solid #FFCC80;
box-sizing:border-box;
}

button{
width:100%;
padding:16px;
margin-top:20px;
background:#FF9800;
color:white;
border:none;
border-radius:12px;
font-size:20px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#F57C00;
transform:scale(1.03);
}
/* ===== QUIZ SCREEN ===== */

.quizHeader{
display:flex;
justify-content:flex-end;
margin:15px 0;
}

#timer{
background:#8B4513;
color:white;
padding:8px 18px;
border-radius:20px;
font-size:22px;
font-weight:bold;
box-shadow:0 3px 8px rgba(0,0,0,.2);
}

.topBar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
font-size:22px;
font-weight:bold;
}

#score{
color:#E67E22;
}

#lives{
font-size:28px;
}

.progress{
width:100%;
height:14px;
background:#eee;
border-radius:10px;
overflow:hidden;
margin:15px 0;
}

#progressBar{
width:0%;
height:100%;
background:linear-gradient(90deg,#FFD700,#FF9800);
transition:0.5s;
}

.option{
margin:12px 0;
}

#result{
font-size:22px;
font-weight:bold;
margin:15px 0;
}
